* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-indent: 20px;
}

body {
    background-image: linear-gradient(#515151, #dfdfdf);
}

header {
    background-image: url(/coversp.png);
    color: #f1f6f0;
    text-align: center;
    width: 98%;
    margin-left: 15px;
    height: 350px;    
}

header > div {
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.329);
    position: relative;
}

.title {
    text-shadow: 5p 5px black;
    font-variant: small-caps;
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 60px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #bababa8e;
}

#access-btn {
    position: absolute;
    left: 35%;
    top: 42%;
    display: block;
    width: 225px;
    height: 60px;
}

#form {
    position: fixed; /* Muda de absolute para fixed */
    top: 50%; /* Posiciona no meio da tela verticalmente */
    left: 50%; /* Posiciona no meio da tela horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar */
    border: 1px solid #d64807;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 100px 10000px #000000ca;
    background-color: #515151;
    color: #fff;
}

#form > h2 {
    margin-bottom: 20px;
    font-variant: small-caps;
}

#form > i {
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 20px;
}

#form > img {
    position: absolute;
    width: 60px;
    left: 200px;
}

button {
    
    padding: 10px 25px 10px 10px;
    color: #fff;
    background-color: #d64807;
    margin-top: 50px;
    margin-left: 110px;
    font-weight: 600;
}

button:hover {
    color: #d64807;
    background-color: #fff;
    transition: 0.4s;
}

.hide {
    display: none;
    animation: moveIn .3s ease-in;
 }

 .close-btn {
    cursor: pointer;
 }

 @keyframes moveIn { 
    0% {
          opacity: 0;
          transform: translateY(-16rem);
    }
  
    100% {
          opacity: 1;
          transform: translateY(5);
    }   
  }
  
.container {
    margin: 120px 50px 10px 40px;
    border: none;
    display: flex;
    gap: 140px;
}

.main-content {
    line-height: 1.7em;
    font-size: 25px;
    background-color: white;
    width: 900px;
    padding: 20px;
    border-radius: 10px;
}

.main-content > p > span{
    font-size: 50px;
}

.infos > h1 {
    color: #fff;
    padding-bottom: 10px;
}

.images {
    display: flex;
    gap: 40px;
    margin: 30px 0px 30px 20px;
}

.images > img {
    width: 350px;
    height: 300px;
}

.main-content > p {
    padding: 10px 0;
}


.sidebar {
    border: 2px solid #d64807;
    background-color: #fff;
    padding: 10px;
    width: 470px;
    height: 190px;
    margin-bottom: 40px;
    border-radius: 5px;
    text-align: center;

}


.researchs {
    margin: 0px 0px 100px 40px;
    line-height: 1.7em;
    font-size: 20px;
    background-color: white;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
}

span {
    font-weight: bold;
    color: #000;
}

.ods {
    width: 98%;
    margin-left: 15px;
}

.ods {
    width: 98%;
    height: 350px;
    margin-bottom: 100px;
}


footer {
    width: 98%;
    margin-left: 15px;
    color: #fff;
    height: fit-content;
    background-color: hsl(0, 1%, 31%);
    padding: 10px;
    display: flex;
}

footer > p {
    margin: auto;
}